<html>
  <head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png" />
  </head>
  <body>
    <h2>The Page you are currently looking is not available</h2>
  </body>
</html>