<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
  </head>
  <body>
    <div class="main-content">
   {{>header}}
   <img src="/images/myPic.jpeg" alt="MyPic" class="portrait">
    <p>Hi I am Ali Murtaza, I am student of computer science. I just created this website in node for learning prupose.</p>

   </div>
   {{>footer}}
  </body>
</html>