<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">

  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>If you want the code please click the link below</p>
    </div>
    {{>footer}}
  </body>
</html>