body {
  color: #333333;
  font-family: Arial;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 1rem;
  padding: 1rem 0;
}

header {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

header a {
  color: #888888;
  text-decoration: none;
  margin-right: 1rem;
}

img {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  padding: 8px;
  color: #ffffff;
  border-radius: 5px;
}
